.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 30px;

  &__left {
    text-align: left;

    h1 {
      color: #ff6060;
      font-size: 36px;
      margin: 0 0 8px;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
      color: #000;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  span {
    background-color: #ff6060;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}

.host {
  display: flex;
  align-items: center;
  gap: 15px;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ff6060;
    font-size: 18px;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.rating {
  display: flex;
  gap: 5px;

  span {
    color: #e3e3e3;
    font-size: 24px;

    &.active {
      color: #ff6060;
    }
  }
}

.logement-collapses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .logement-info {
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
  }

  .logement-info__left {
    width: 100%;
  }

  .logement-info__left h1 {
    font-size: 24px;
    line-height: 1.1;
  }

  .logement-info__right {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .host {
    gap: 10px;
  }

  .host img {
    width: 50px;
    height: 50px;
  }

  .host__name {
    font-size: 14px;
  }

  .rating {
    gap: 3px;
  }

  .rating span {
    font-size: 18px;
  }

  .logement-collapses {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .logement-collapses .collapse {
    width: 100%;
  }
}