.footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  background-color: #000;
  color: white;
  height: 150px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  gap: 20px;
  padding-bottom: 25px;
}