.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 25px;
  padding: 0 60px;

  &__logo-link {
    text-decoration: none;
  }

  &__logo {
    width: 140px;
    height: auto;
    display: block;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      color: #000;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 12px;

    &__logo {
      width: 100px;
    }

    &__nav {
      gap: 20px;

      a {
        font-size: 10px;
      }
    }
  }
}